*{
    margin: 0;
    padding: 0;
}

:root{

    /* Fonts */
    --font-one: "Inter", sans-serif;

    /* Color */
    --colorOne: #00A86B;
    --colorTwo: #000000;
    --colorThree: #F2EAE0;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 30px;
    background-color: var(--colorOne);
  
}

.logo {
    width: 150px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: var(--font-one);
    font-size: 1.5rem;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--colorTwo);
}


/* SIDEBAR */
.sidenav {
  height: 100%;
  width: 160px; /* match your .main margin-left */
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--colorOne);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: var(--colorTwo);
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* MAIN CONTENT */
.main {
  margin-left: 160px;
  font-size: 28px;
}

/* CHATBOX */
.chatbox {

  width: 100%; 
  height: 100vh; 
  background-color: var(--colorThree);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box{
    width: 50%;
    height: 20%;
    border: 10px solid red;

}



/* FOOTER */

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #00A86B;
   color: white;
   text-align: center;
}
